
<section class="bg-blue pb-60">
    
        <div style="width: 980px; margin: 0 auto; max-width: 100vw;">
            <div class="row" style="margin: 0;">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <img src="/Content/img/mockup.png" alt="" class="mockup img-responsive">                                      
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 home-title-section">
                    <h1 class="home-title">Affinity Project</h1>
                    <div class="home-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Field force management & collaboration mobile solution</p>
                                <div class="home-mark" style="float: left;">
                                    <a href="#"><img src="/Content/img/download-app-store.png" alt="" width="180" class="imgAppStore"></a>
                                </div>
                                <div class="home-mark">
                                    <a href="#"><img src="/Content/img/download-google-play.png" alt="" width="180" class="imgAppStore"></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

</section>
<section class="pt-120">
    <div style="width: 980px; margin: 0 auto; max-width: 100vw;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 home-blog">
                    <div class="blog-body">
                        <div class="inner">
                            <h3 class="blog-title">Getting started</h3>
                            <p>To start right now,  Download the Affinity application using the links above and use our Test lab to test the app on spot!</p>
                        </div>
                        <div class="inner-btn">
                            <p><a class="" href="test/index.html">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 home-blog">
                    <div class="blog-body">
                        <div class="inner">
                            <h3 class="blog-title">Benefits using Affinity</h3>
                            <p>
                                We deliver more sofisticated solution than ever theoretically possible acjive with a mobile site, as all the functionality is available and the app takes care about
                                syncing data to backend simlessly.
                            </p>
                        </div>
                        <div class="inner-btn">
                            <p><a class="" href="#">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 home-blog">
                    <div class="blog-body">
                        <div class="inner">
                            <h3 class="blog-title">Web Hosting</h3>
                            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        </div>
                        <div class="inner-btn">
                            <p><a class="" href="#">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- div class="jumbotron">
    <h1>Affinity Project</h1>
    <h2>Field force management & collaboration mobile solution</h2>
    <p class="lead">Affinity MMA solution is aimed to equip any ordinar rostering system with a powerful application which can deliver value independently on existing internet
        connection.</p>
    @*<p class="lead">
          
    </p>*@
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-12 text-center" style="padding: 20px 0 0 0; float: left;">
            <a href="#"><img src="/Content/img/download-app-store.png" alt="" width="185" class="imgAppStore"></a>
        </div>
        <div class="col-md-3 col-xs-12 text-center" style="padding: 20px 0 0 0;">
            <a href="#"><img src="/Content/img/download-google-play.png" alt="" width="185" class="imgAppStore"></a>
        </div>
    </div>
</!--div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To start right now,  Download the Affinity application using the links above and use our Test lab to test the app on spot!</p>
        <p><a class="btn btn-default" href="test/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Benefits using Affinity</h2>
        <p>We deliver more sofisticated solution than ever theoretically possible acjive with a mobile site, as all the functionality is available and the app takes care about
        syncing data to backend simlessly.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>

</div-->
